* {
  font-family: 'Open Sans', sans-serif;
}

#body-elements {
  margin-bottom: 80px;
}

/* MARGIN STYLES */
.margin-t-15 {
  margin-top: 15px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.jumbotron {
  text-align: center;
}

.cardThumbnail {
  height: 100px;
  width: auto;
}

/* LOG IN AND SIGNUP FORM */
.login-form {
  margin: 0 auto;
  text-align: center;
  max-width: 450px;
}

.help-block {
  font-size: 12px;
  text-align: left;
  color: red;
  padding-bottom: 5px;
}

/* USER ACCOUNT */
.account-nav {
  border-bottom:2px solid transparent;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1
}

.user-nav {
  border-bottom: 2px solid transparent;
  margin-bottom: 5px;
}

.user-nav-active {
  font-weight: bold;
  border-bottom: 2px solid black;
}

/* ADMIN TOOLS */
.admin-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1
}

/* FOOTER */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  background-color: #f0f3f8;
  color: black;
  z-index: 2000;
}

#footer a {
  color: black;
}

.footer-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
}

.footer-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
}

#body-elements {
  margin-bottom: 80px;
}

#cart-line-item {
  background-color: #f0f3f8;
  margin-bottom: 20px;
  padding: 15px;
}

#cart-total-price {
  background-color: yellow;
  font-weight: bold;
  padding: 15px;
}

.stars-large {
  font-size: 30px;
  color: yellow;
  text-shadow: #F71 0px 0px 1px, #F71 0px 0px 1px, #F71 0px 0px 1px;
}

.stars-small {
  font-size: 20px;
  color: yellow;
  text-shadow: #F71 0px 0px 1px, #F71 0px 0px 1px, #F71 0px 0px 1px;
}

.review-card {
  background-color: #f0f3f8;
  padding: 15px;
  margin: 15px;
}
